body {
    font-size:6px;
}
@media (min-width:1200px) {
    body {
        font-size:16px;
    }
}
:root {
    --black: #000000;
    --navy: #3999d4;
    --orange: #FE7F2D;
    --gray: #d0e2e0;
    --navy-light: #7fb0e7;
    --green: #B2D931;
}
body {
    background-color: var(--gray);
    margin:0;
    padding:0;
    width:100%;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#top-bar {
    background-color: var(--navy-light);
    width:100%;
    display: flex;
    position:fixed;
}
.top-bar-item {
    width: 10%;
    background-color: var(--navy);
    font-size: 1.5em;
    text-align: center;
    padding:0.5em;
    color: var(--black);
    height:1.3em;
    transition: background-color 0.3s;
    border-right:var(--black) 0.1em solid;
}
#top-bar .top-bar-item:hover {
    background-color: var(--navy-light);
    color: var(--black);
}
#below-bar {
    background-color: var(--green);
    width:100%;
    height:0.5em;
    position:fixed;
    margin-top:3.5em;
    pointer-events:none;
}
.div_dropdown {
    position:relative;
}
.dropdown-content {
    background-color: var(--navy);
    display:none;
    width:6.6em;
    position:absolute;
    top:100%;
    left:0;
    border:var(--green) 0.3em solid;
}
.div_dropdown:hover .dropdown-content{
    display:block;
    animation: dropdownAnimation 0.3s ease-in-out;
}
@keyframes dropdownAnimation {
    0% { opacity: 0; transform: translateY(-0.3em); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes bringupAnimation {
    0% { opacity: 0; transform: translateY(0.3em); }
    100% { opacity: 1; transform: translateY(0); }
}
.dropdown-item {
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size:0.8em;
    transition: background-color 0.3s;
    border-top:var(--black) 0.1em solid;
}
.dropdown-item:hover {
    background-color: var(--navy-light);
    color: var(--black);
}
#body-content {
    position:absolute;
    margin-top:4em;
    width:100%;
    z-index:-1000;
}
#about-me {
    background-color: var(--navy);
    border:var(--orange) 0.3em solid;
    border-radius: 0.5em;
    width:70%;
    margin-left:15%;
    margin-top:3em;
    padding: 1em;   
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    transition: background-color 0.3s;
}
.about-me-text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
#profile-pic {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width:100%;
    height:auto;
    border-radius: 0.5em;
}
#about-me-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align:center;
}
#about-me:hover {
    background-color: var(--navy-light);
}