body, html {
    margin:0;
    padding:0;
}
.nav-item, #dropdown {
    background-color:white;
    border:3px solid black;
    border-style: solid hidden solid solid;
    padding:10px;
}
#item1 {
    position:relative;
}
#dropdown {
    position:absolute;
    border-style:solid;
    width:200px;
    display:none;
}
#item1:hover #dropdown{
    display:block;
    animation-name:dropdown;
    animation-fill-mode:both;
    animation-duration:0.5s;
}
@keyframes dropdown {
    0% {transform:translate(0,-100px);}
    100% {transform:translate(0,10px);}
}
.nav {
    position:sticky;
    top:0px;
    z-index:2;
}
.card {
    padding:10px;
}
.headline {
    height:250px;
}
.headline .card-title {
    height:100px;
}
.headline .card-text {
    margin-top:auto;
}
.footer {
    background-color:Gray;
    border:5px solid black;
    border-style:solid hidden hidden hidden;
    margin-bottom:-17px;
    padding-bottom:17px;
}
.footer ul li:first-child {
    list-style:none;
    font-weight:Bold;
    font-size:30px;
    color:Black;
}
.footer ul li a{
    color:Black;
    text-decoration:none;
}
.footer ul li a:hover {
    color:blue;
}
.paralax {
    width:calc(100% - 10px);
    height:100vh;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    padding: 10px;
}
.contact .card-text {
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
.apply input{
    width:100%;
    padding:5px;
}
.apply label, input {
    font-size:20px;
}
.apply button {
    padding:5px;
    font-size:20px;
}
.card-subtitle {
    color:gray;
}
#headlines a {
    color:black;
    text-decoration:none;
}
.article {
    transition: all 0.5s;
}
.article:hover {
    background-color:gray;
    color:white;
}
#dropdown a {
    text-decoration:none;
}
#options {
    position:absolute;
    background-color:white;
    padding:20px;
    width:100px;
}